<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Videojuegos</title>
</head>
<body>
	<h3>Esta es su lista de videojuegos</h3>
	<h4 style="color: purple" th:each="valor : ${listaVideojuegos}">
	   <span th:text="${valor.nombre}"></span>
	    <span th:text="${valor.compania}"></span>
	    <span th:text="${valor.precio}"></span>
	    <span th:text="${valor.puntuacion}"></span>
	</h4>
	
	<form action="consultaVideojuegoID" method="get">
        <input type="text" name="id_videojuego" placeholder="Introduce un id">
        <input type="submit" value="Consultar">
    </form>
	


</body>
</html>